@import url('style.css');


.form__heading {
    font-size: 2rem;
}

.form__input {
    background: #fff;
    width: 15rem;
    line-height: 2rem;
    border-radius: 3px; 
    margin: 4px;
    justify-content: center;
    align-items: center;
}

.main__btn {
    font-size: 1.8rem;
    background: #000;
    background: -webkit-linear-gradient(to right, #d8a153, #d2a71b);
    background: linear-gradient(to right, #d8a153, #d2a71b);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -webkit-text-fill-color: #fff;
    -moz-text-fill-color: #fff;
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    background: transparent;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #78662a;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

@media screen and (max-width: 480px) {

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}